#ignore system files
.*
!.gitignore

#ignore Xcode part pros files
Apps.xcodeproj/.*
Apps.xcodeproj/project.xcworkspace/
Apps.xcodeproj/xcuserdata/
*.xcuserstate
*.DS_Store
UserInterfaceState.xcuserstate
